.header {
    padding-top: 50px;
    color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
    }

    &__list {
        display: flex;
        gap: 42px;
    }

    &__btns {
        display: flex;
        gap: 40px;
    }

}

.header__btn {
    @include btn(transparent, $backgroundLink, 68px, $darkColor, 16px, 10px, 53px);
    font-size: 12px;
    font-weight: 700;
}

.header__btn-transparent {
    @include btn(#fff, transparent, 68px, #fff, 16px, 10px, 53px); font-size: 12px;
    font-weight: 700;
}